.listview {
    padding: 0 16px;
}

.list-child {
    font-size: 1.25rem;
    padding: 10px 16px;
    width: 100%;
    border-bottom: 1px solid #DDD;
}

.list-child.selected {
    background-color: #F0F0F0;
    font-weight: bold;
}

.list-child.highlighted {
    background-color: #b5ffac;
    font-weight: bold;
}

.list-child:hover {
    background-color: #F4F4F4;
}
